<div layout="column" class="md-inline-form" style="margin-top: 10px">
    <md-content>
        <div layout="column" style="border: 1px solid #D8D8D8; height: 80%; border-radius: 10px; ">
            <md-list>
                <md-list-item *ngFor="#branchDetails of cashFreeze.summary" style="cursor: pointer;"
                              (click)="onListClick(branchDetails)">
                    <div layout="column" style="width: 100%">
                        <div class="md-list-item-text" layout-gt-md="row"
                             style="margin:1px;  width: 100%">

                            <div layout="row" style="height: 60px; width: 100%; margin-bottom: -10px">
                                <md-input-container class="md-block" flex-gt-sm flex>
                                    <label style="font-size: 14px;">Account Type:</label>
                                    <input md-input title="" [(value)]="branchDetails.freeze_summary.accountType"
                                           style="color: black; font-weight: bold"
                                           disabled flex>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm flex>
                                    <label style="font-size: 14px;">BranchId :</label>
                                    <input md-input title="" [(value)]="branchDetails.branchId"
                                           style="color: black; font-weight: bold"
                                           disabled flex>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm style=" color:black" flex>
                                    <label style="font-size: 14px;">BranchName :</label>
                                    <input md-input title="" [(value)]="branchDetails.branchName"
                                           style="color: black; font-weight: bold"
                                           disabled flex>
                                </md-input-container>
                            </div>
                            <div layout="row" style="height: 65px; width: 100%; margin-bottom: -10px">
                                <md-input-container class="md-block" flex-gt-sm style=" color:black" flex>
                                    <label style="font-size: 14px;">G/L Account :</label>
                                    <input md-input title="" [(value)]="branchDetails.freeze_summary.glAccount"
                                           style="color: black; font-weight: bold"
                                           disabled flex>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm style="cursor: pointer" flex>
                                    <label style="font-size: 14px;">LastFreezeDate:</label>
                                    <input md-input title="" [(value)]="branchDetails.freezeDate"
                                           style=" color: black; font-weight: bold"
                                           disabled flex>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm style="cursor: pointer" flex>
                                    <label style="font-size: 14px;">A/C Balance :</label>
                                    <input md-input title="" [(value)]="branchDetails.freeze_summary.closingBalance"
                                           style="color: black; font-weight: bold"
                                           disabled flex>
                                </md-input-container>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>