<div layout="column">
    <md-content>
        <div style="border: 1px solid #D8D8D8; height: 70%; border-radius: 10px; ">
            <md-list>
                <md-subheader class="md-no-sticky">branchName</md-subheader>
<md-list-item>

</md-list-item>
            </md-list>
        </div>
    </md-content>
</div>