<div layout="column">
    <md-toolbar href="" class="fixed-toolbar md-whiteframe-19dp " role="navigation"  style='z-index:3; position: fixed; background-color: #34b6ce;'  xmlns=""
                xmlns="" xmlns="" xmlns="" xmlns="">
        <div class="md-toolbar-tools">
            <div layout="row" layout-wrap style="width: 100%">
                <div flex="30" layout="row">
                    <button md-button class="md-icon-button md-raised" aria-label="Settings" (click)="showMenu($event)" style="margin-left:-20px" hide-gt-lg>
                        <i md-icon>menu</i>
                    </button>
                    <img src="images/logo.PNG" style="width: 100px;height:30px" hide-gt-md>
                    <img src="images/logo.PNG" style="width: 210px;height:50px" hide-sm hide-xs hide-md></div>

                <div flex="40"style="text-align: center"><h2 hide-sm hide-xs hide-md>{{formTitle}}</h2>
                    <span hide-gt-md style="font-size: 14px">{{formTitle}}</span>
                </div>
                <div layout-gt-md="row" layout="column" flex="30" style="text-align: right">
                <div flex="70" style="font-size: 13px;
                "><label>{{userName}}</label>&nbsp;||&nbsp;</div>
                <a href="#" (click)="onLogin()" style="font-size: small">{{authenticated ? 'LogOut': 'Login'}}</a>
                 </div>
            </div>
        </div>
    </md-toolbar>
    <md-content md-scroll-y layout="column" >
        <div layout="row" style="width: 100%; height: 100%">
            <md-sidenav-container layout="row" flex style="z-index: 2;">
                <md-sidenav name="menu" class="app-menu md-whitframe-10dp" [style]="fullPage ? 'side' : 'over'"
                            style="background-color: #ECEFF1; margin-top: 50px">
                    <md-list style="cursor: pointer; font-size: small">
                        <md-list-item md-ink (inked)="navigate(['CashFreeze'])" role="listitem" [class.md-active]="true"
                                      style="margin-bottom: -20px;">
                            <div class="md-no-style md-list-item-inner">
                                Cash Freeze
                            </div><div class="md-ripple-container"></div>
                        </md-list-item>
                    </md-list>
                </md-sidenav>

                <md-content layout="column" class="examples" style="width: 99%; margin-top: 8%; height: 100%; overflow-y: auto"
                            layout-padding>
                    <router-outlet></router-outlet>
                </md-content>
            </md-sidenav-container>

        </div>
    </md-content>

</div>