.index {
    background: none repeat scroll 0 0 #0063ff;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 4px;
    position: absolute;
    right: -10px;
    top: -10px;
}

.numberCircle {
    border-radius: 50%;
    width: 26px;
    height: 16px;
    padding-top: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    position: relative;
    display: inline-block;
    font: 10px Arial, sans-serif;
}

[md-raised-button] {
    text-transform: none;
    font-size: 12px;
    line-height: 26px;
    border-radius: 9px;
    margin: 2px 5px;
}

select {
    outline: none;
    background-color: rgba(146, 40, 40, 0);
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.207843);
}

select, button, textarea, input {
    font-size: 11px;
}
